server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          routes:
            - id: cart-service
              uri: lb://CART-SERVICE
              predicates:
                - Path=/api/v1/cart/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: cartServiceCB
                    fallbackUri: forward:/fallback/cart
            - id: product-service
              uri: lb://CATALOG-SERVICE
              predicates:
                - Path=/api/v1/products/**
              filters:
                - name: CircuitBreaker
                  args:
                    name: productServiceCB
                    fallbackUri: forward:/fallback/products

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
    health:
      show-details: always

resilience4j:
  circuitbreaker:
    instances:
      cartServiceCB:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
      productServiceCB:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/